<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheerUp!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10CDDE252D3777CE004BBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10CDDE352D3777D0004BBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10CDDE3F2D3777D0004BBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
